/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Regular */





a {
    color: #fff4c8;
    display: block;
}

.header-container {
    text-align: center;
    border-bottom: 1px solid #e9c019;
    background-color: #f7cf30;
}
a.menu-link {
    /*float: right;*/
    display: block;
    padding: 1em;
}
nav[role=navigation] {
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
    overflow: hidden;
    max-height: 0;
}
nav[role=navigation].active {
    max-height: 15em;
    background-color: #e9c019;
}
nav[role=navigation] ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #e9c019;
}
nav[role=navigation] a, .menu-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav[role=navigation] li a {
    display: block;
    padding: 0.8em;
    border-bottom: 1px solid #e9c019;
}

nav[role=navigation] li a:hover {
    background-color: #f7cf30;
}


body {
    font-family: "Open Sans";
    background-color: #f1c40f;
    color: #000;
    font-size: 0.8em;
}

p { margin-top: 0px; }

article header h1 { display: none; }
article header { margin: 40px 0px 20px 0px; }
article header .name {
    font-size: 1em;
    display: block;
    color: black;
    background-color: black;
    margin: 0 20px 8px 20px;
}
article header img { 
    width: 300px;
    height: 79px;
    margin: 0 auto;
    display: block;

 }
article section img {
    float: left;
    width: 6em;
    height: 6em;
    margin-top: 1.7em;
    margin-left: 0px;
    margin-right: 15px;
    margin-bottom: 35px;
}
section {
    padding: 2em;
}

#contact {
    background-color: #e9c019;
    font-size: 0.9em;
 }

#contact div#icon_holder {
    text-align: center;
}

#contact ul { 
    list-style: none;
    margin: 0 auto;
    text-align: center;
    background-color: #f1c40f;
    border-radius: 7px;
    padding: 0.4em;
    display: inline-block;
    border: 1px solid #E6BB10;
}

#contact ul li {
    border-radius: 7px;
    overflow: hidden;
    display: inline-block;
    font-size: 3em;

}

#contact ul li a {
    display: block;
    text-decoration: none;
    float: left;
    /*background-image: url(https://github.global.ssl.fastly.net/images/modules/logos_page/GitHub-Mark.png);  /* shows image */*/
    background-size: 50px 50px;
    background-repeat:no-repeat;
    background-position: center;
    height: 35px;                        /* be sure to set height & width */
    width:  35px;

    /* Hide the text. */
    /*text-indent: 101%;*/
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 20px;
    margin: 11px;
}
#contact ul li a:first { margin-left: 14px; }
#contact ul li a:last { margin-right: 14px; } 

#blurb {
    margin-bottom: 100%;
    text-align: justify;
}


#tweets {
    padding: 1.5em;
}

#tweets article {
    padding: 0.8em;
    border: 1px solid #f1c40f;
    border-radius: 5px;
    margin-bottom: 1em;
    background-color: #f7cf30;
}

#tweets article img {
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

#qualities { 
    background-color: #e9c019;
    font-family: 'Arial Black';
    font-weight: bold;
    font-size: 1em;
    padding-top: 0px;
}

#qualities_cloud, #skills ul { 
    margin: 0px;
    list-style: none;
    padding: 0px;
    text-align: justify;
    font-size: 0.9em;
}

#qualities_cloud li, #skills ul li {
    display: inline-block;
    padding-right: 5px;
    font-size: 1.5em;
} 

#skills h2 {
    margin-top: 0px;
}

.light-cloud { 
    color: #f7cf30;
    transition: color 3s;
    -webkit-transition: color 3s;
}

.dark-cloud {    
    color: #000000;
    transition: color 3s;
    -webkit-transition: color 3s;
}

.footer-container footer p { text-align: center; }

/* Contact section */

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
content: "\e601";
}

.icon-linkedin:before {
content: "\e600";
}

.icon-twitter:before {
content: "\e602";
}

.icon-envelop:before {
content: "\e603";
}

.icon-phone:before {
content: "\e604";
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    a.menu-link {
        display: none;
    }
    .js nav[role=navigation] {
        max-height: none;
    }
    nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
    }

    nav[role=navigation]  li {
        display: inline-block;
        margin: 0 0.25em;
    }
    nav[role=navigation] li a {
        border: 0;
    }


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
